.nav-bar-title
{
  text-transform: capitalize;
}

.icon.button.share-attraction::before
{
  margin-top:0px !important;
}

.attraction-view
{
  background: $content-bg;

  .speaker-image
  {
    height: 100vw;
  }

  .attraction-details
  {
    min-height: 70px;
    padding: 22px;
    background-color: darken($content-color, 10);
    margin-top: -8px;

    .attraction-title
    {
      color: $top-bar-color;
      font-size: 16px;
      @include cssCalc("font-size", "#{($font-size)} + 4px");
      font-weight: 500;
      display:block;
    }
    .attraction-speakers
    {
      color: $main-menu-bg;
      @include cssCalc("font-size", "#{($font-size)} + 2px");
      font-weight: 400;
      display:block;


      .attraction-speaker
      {
        color: inherit;
        font-weight: 600;
      }

      .attraction-speaker-concat
      {
        color: inherit;
        font-weight: 400;
      }
    }
  }
  .attraction-description
  {
    @include cssCalc("font-size", "#{($font-size)} + 2px");
    padding:20px;

    ul
    {
      list-style: inherit;
      padding-left: 40px;
    }
  }
}
