@mixin cssCalc($property, $expression) 
{
  #{$property}: calc(#{$expression});
}

@mixin flexbox() 
{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-wrap($value) 
{
  flex-wrap: $value;
  -webkit-flex-wrap: $value;
}

// Colors

$green: #88af37; // The one from Front in Fortaleza
$gray: #313131; // The one used at Conf Boilerplate
$turquoise: #16a085;
$blue: #2980b9;
$purple: #8e44ad;
$concrete: #bdc3c7;
$silver: #eaeaea;
$white: #ffffff;


$content-bg: $silver;
$content-color: $gray;
$titles: $white;

$top-bar-bg: $gray;
$top-bar-color: $white;

$loading-color: $white;

$main-menu-bg: $green;
$main-menu-color: $white;

$loading-color: $white;

$actions-bg: $white;

$attraction-color: $white;
$talk-bg-color: $green; 
$lightningtalk-bg-color: $turquoise;
$workshop-bg-color: $blue;
$keynote-bg-color: $purple;
$general-bg-color: $concrete;


$get-directions-btn-bg: $green;
$get-directions-btn-color: $white;

// App settings

$category-margin: 20px;
$font-size:12px;
$menu-title-font-size: 30px;
$menu-logo-font-size: 28px;
$location-map-porcentage: 65;

*
{
  color: $content-color;
}

.bar.app-top-bar
{
  background-color: $top-bar-bg;

  .title
  {
    color: $top-bar-color !important;
    *
    {
      color: $top-bar-color !important;
    }
  }

  .button
  {
    color: $top-bar-color !important;
    *
    {
      color: $top-bar-color !important;
    }
  }
}

.menu-header-bar
{
  background-color: $top-bar-bg;

  .menu-header-bar-title
  {
    color: $top-bar-color;
  }
}

.loading-container .loading
{
  *
  {
    color: $loading-color;
  }
}
