.location-view
{
  .map
  {
    @include cssCalc("height", "(((100vh - #{($bar-height)}) * #{($location-map-porcentage)}) /100)");
  }

  .location-position
  {
    @include cssCalc("height", "(((100vh - #{($bar-height)}) * (100 - #{($location-map-porcentage)})) /100)");
    border-bottom: none;

    .row
    {
      height: 50%;
      margin:0px;
    }

    .location-place
    {
      margin-bottom:5px;
    }
  }
}
