<ion-view class="schedule-view">
  <ion-nav-title class="has-tabs-top">
    <span>Schedule</span>
  </ion-nav-title>

  <ion-tabs class="tabs-striped tabs-top tabs-color-light">

    <ion-tab class="tab-title" title="MAY 16">
        <ion-pane>
            <ion-content class="padding">
                <div>
                    <div class="item item-text-wrap card" ng-repeat="attraction in attractions.day1">
                        <div schedule-attraction class="schedule-attraction"></div>
                    </div>
                </div>
            </ion-content>
      </ion-pane>
    </ion-tab>
    <ion-tab class="tab-title" title="MAY 17">
        <ion-pane>
            <ion-content class="padding">
                <div>
                    <div class="item item-text-wrap card" ng-repeat="attraction in attractions.day2">
                        <div schedule-attraction class="schedule-attraction"></div>
                    </div>
                </div>
            </ion-content>
      </ion-pane>
    </ion-tab>
  </ion-tabs>
</ion-view>
